<!-- slider -->
 <br><br>
<div class="relative w-full h-[320px]" id="home">
  
    <div class="absolute inset-0 opacity-70">
        <img src="assets/gallery/1AF5FC422867D96E06C4B7BD69_1623557926542.avif" alt="Background Image" class="object-cover object-center w-full h-full" />

    </div>
    <div class="absolute inset-9 flex flex-col md:flex-row items-center justify-between">
        <div class="md:w-1/2 mb-4 md:mb-0">
            <h1 class="text-grey-700 font-medium text-4xl md:text-5xl leading-tight mb-2" >Organic Flour mill</h1>
            <p class="font-regular text-xl mb-8 mt-4">One stop solution for flour grinding services</p>
            
            <a class="px-6 py-3 bg-[#c8a876] text-white font-medium rounded-full hover:bg-[#c09858]  transition duration-200" routerLink="/shop">Shop Now</a>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto p-6 mt-6">
  <!-- <h2 class="text-2xl font-bold mb-4">Product List</h2> -->
  <div *ngIf="products.length === 0" class="text-gray-700">
    No products available.
  </div>
  <div *ngIf="products.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let product of products" class="p-4 product-card flex flex-col">
      <div class="relative">
        <img *ngIf="product.imageSrc" [src]="product.imageSrc" alt="Product Image" class="w-full h-48 object-cover rounded-t-lg mb-4 image-zoom" />
        <button (click)="addToWishlist(product)" class="absolute top-2 right-2 p-2">
          <img [src]="product.isInWishlist ? 'assets/logo/black-heart .png' : 'assets/logo/heart.png'" alt="Wishlist" class="w-6 h-6" />
        </button>
      </div>
      <div class="flex-grow flex flex-col justify-between">
        <div>
          <h3 class="text-xl font-bold">{{ product.name }}</h3>
          <p class="text-gray-700">{{ product.size }}</p>
          <p class="text-gray-700 font-semibold">Rs.{{ product.price }}</p>
        </div>
        <div class="mt-4">
          <button
            (click)="handleButtonClick(product)"
            class="font-bold py-2 px-6 rounded"
            style="border: 3px solid black; background-color: white; color: black;"
            [ngClass]="{
              'hover:bg-black hover:text-white': true
            }"
          >
            {{ isInCart(product) ? 'Go to Cart' : 'Add to Cart' }}
          </button>
        </div>
        
        
      </div>
    </div>
  </div>
</div>


<style>
.product-card {
  display: flex;
  flex-direction: column;
}

.product-card .flex-grow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-zoom {
  transition: transform 0.2s ease-in-out;
}

.image-zoom:hover {
  transform: scale(1.1);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute.top-2 {
  top: 0.5rem; /* Adjust as needed */
}

.absolute.right-2 {
  right: 0.5rem; 
}
.p-2 {
  padding: 0.5rem; 
}

.w-6 {
  width: 1.5rem; 
}

.h-6 {
  height: 1.5rem; 
}

</style>
