/* .paypal-container {
  padding: 150px;
}

.paypal-container .amount {
  text-align: center;
  margin-bottom: 30px;
}

.paypal-container .info {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

.paypal-container .back {
  margin-top: 40px;
  text-align: center;
  cursor: pointer;
} */

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.payment {
  width: 50%; 
}


