
.relative {
    position: relative;
  }
  
  input:invalid + .error-message {
    display: block;
  }
  
  .error-message {
    color: #f56565; 
    font-size: 0.875rem; 
    margin-top: 0.25rem; 
    display: none; 
  }
  
  input.ng-touched.ng-invalid + .error-message {
    display: block;
  }
/* Optional: If you want additional styling */
h1 {
  display: flex;
  align-items: center; /* Vertically center the items */
}
